// style.scss
@import 'variables';
@import 'mixins';
@import 'extend';

body {
  background-color: $color-fondo;
  color: $color-texto;
  padding: 25px;
  padding-top: 150px;
}

header {
  width: 100%;
  background-color: $color-header;
  padding: 10px 0;
  @include flex-center(row, space-between, center);
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
}

.navbar-nav {
  @include flex-center(row, flex-end, center);
  gap: 20px;
}

.nav-link {
  font-size: 16px;
  color: $color-texto;
  text-decoration: none;
  padding: 8px 16px;
  transition: background-color 0.3s;
  &:hover {
    background-color: $color-principal;
  }
}

.hero {
  text-align: center;
  padding: $padding-general 20px;
}

.tarjeta-producto {
  @extend %tarjeta;
  transition: transform 0.3s, box-shadow 0.3s;
  &:hover {
    transform: scale(1.05);
    box-shadow: 0px 4px 10px rgba(255, 77, 166, 0.5);
  }
}

.contacto {
  padding: $padding-general 0;
  text-align: center;
}

button {
  @include button-style;
}
