@media (max-width: 768px) {
    .footer-container {
      flex-direction: column;
      text-align: center;
    }
  
    .menu {
      flex-direction: column;
      align-items: center;
    }
  
    .imagenes {
      flex-direction: column;
    }
  
    .imagengift {
      width: 200px;
    }
  
    .navbar-collapse {
      justify-content: center;
    }
  
    .navbar-nav {
      text-align: center;
      width: 100%;
  
      .nav-item {
        width: 100%;
      }
  
      .nav-link {
        padding: 15px 0;
      }
    }
  }
  